.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.contacts__item {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  color: #472f17;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contacts__item:first-child {
  margin-top: 20px;
}
.contacts__zero {
  font-weight: 800;
  color: #472f17;
  font-size: 18px;
}
